AISWEB_API_KEY=
AISWEB_API_PASS=
AISWEB_API_URL=

FILE_SERVER_API_URL=
FILE_SERVER_API_USERNAME=
FILE_SERVER_API_PASSWORD=

GCP_SERVICE_ACCOUNT_KEY_PATH=./keys/service-account.json
GCP_PROJECT_ID=
GCP_BUCKET_NAME=

SUPABASE_PROJECT_URL=
SUPABASE_API_KEY=

REDIS_URL=
SENTRY_DSN=
